* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  width: 100vw;
  position: fixed;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.icon-hamburger {
  width: 40px;
}
.hero {
  width: 100%;
  height: 60vh;
  background-image: url("Images/h1_hero1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 235, 235, 0.849);
  padding: 15rem 2rem;
  text-align: center;
}
.hero p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
#about {
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 3rem;
}
#about h1 {
  color: rgba(0, 0, 39, 0.904);
  font-size: 1.8rem;
}
.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2.2rem;
  margin-top: 1.5rem;
}
.cards {
  padding: 2rem 1rem;
  margin-block: 1.3rem;
  border-radius: 10px;
  border-top-right-radius: 50px;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.card-1 {
  background: rgb(173, 218, 255);
}
.card-2 {
  background: rgb(255, 199, 199);
}
.card-3 {
  background: rgb(184, 231, 184);
}
.cards h2 {
  font-size: 1.4rem;
  color: rgba(0, 0, 39, 0.904);
  margin-bottom: 1rem;
}
.cards p {
  font-size: 1rem;
  font-weight: 600;
  color: #818181;
  margin-top: 1rem;
}
.cards:hover {
  transform: translateY(-10px);
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  opacity: 0.7;
}
#services {
  display: flex;
  margin-block: 3rem;
}
.hidden {
  display: none;
}
#services h1 {
  color: rgba(0, 0, 39, 0.904);
  font-size: 1.8rem;
  text-align: center;
}
.service-info {
  margin-top: 1.3rem;
  padding-inline: 1.3rem;
}
.service-info h3 {
  font-size: 1.4rem;
  color: rgba(0, 0, 39, 0.904);
  margin-block: 1rem;
}
.service-info p {
  font-size: 1.2rem;
  line-height: 1.5;
  opacity: 0.6;
  margin-bottom: 1rem;
}
#blogs {
  padding-inline: 1rem;
  text-align: center;
  margin-block: 3rem;
}
#blogs h1 {
  margin-block: 1rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 39, 0.904);
}
#blogs p {
  font-size: 1.2rem;
  opacity: 0.7;
}
.blog-cards {
  display: grid;
  gap: 15px;
  margin-block: 1rem;
  align-items: center;
  justify-content: center;
}
.blogs {
  /* max-width: 325px; */
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #fff;
  text-align: start;
  border: 4px solid #00c6ff;
  /* border-image: linear-gradient(135deg, #00c6ff, #0072ff) 1; */
}
.blogs img {
  max-width: 300px;
  height: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
figure {
  max-width: 300px;
}
figcaption {
  padding: 1rem;
}
figcaption h3 {
  font-size: 1.2rem;
  color: rgba(0, 0, 39, 0.904);
}
figcaption p {
  font-size: 1.2rem;
  opacity: o.7;
  line-height: 1.5;
  margin-block: 1rem;
}
figure button {
  padding: 1.2rem 1.5rem;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  background: rgb(141, 204, 255);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
figure button:hover {
  background: #00c6ff;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
footer {
  background: rgb(2, 2, 2);
  padding: 1.5rem 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
}
footer h2 {
  font-size: 1.4rem;
  margin-block: 1rem;
}
.footer-top {
  display: flex;
  flex-direction: column;
}
.email-logo {
  color: white;
}
.question {
  margin-block: 1rem;
}
.question p {
  font-size: 1rem;
  margin-block: 1rem;
  opacity: 0.7;
}
.footer-blogs {
  margin-block: 1rem;
}
.blog {
  display: flex;
  gap: 20px;
  margin-block: 1rem;
}
.blog img {
  width: 100px;
  height: 100px;
}
aside span {
  margin-left: 0.2rem;
  font-size: 0.85rem;
  opacity: 0.7;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
}
.footer-links ul li {
  list-style: none;
}
.footer-links ul li a {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
  font-size: 1.3rem;
  line-height: 2;
}
.footer-links ul li a:hover {
  text-decoration: underline;
}
.subscribe form {
  display: flex;
  flex-direction: column;
}
form label {
  font-size: 1.3rem;
  margin-top: 1rem;
  opacity: 0.7;
}
form input {
  padding: 1rem 2rem;
  font-size: 1rem;
  background: rgba(39, 39, 39, 0.795);
  color: #fff;
  border: none;
  margin-block: 1rem;
}
form button {
  padding: 1rem 2rem;
  background: #0799c2;
  color: #fff;
  border: none;
  font-size: 1.2rem;
}
form button:hover {
  background: #00c6ff;
}
.socials img {
  margin-inline: 1rem;
}
.hide {
  display: none;
}
@media (min-width: 730px) and (max-width: 1130px) {
  nav {
    padding: 1.8rem 1.5rem;
  }
  .hero p {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
  }
  .desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }
  .nav-links a {
    color: blue;
    opacity: 0.7;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .nav-links a:hover {
    color: #00c6ff;
  }
  nav .btn {
    padding: 1rem 1.2rem;
    background: blue;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }
  .hide {
    display: none;
  }
  .hidden {
    display: block;
  }
  nav .btn:hover {
    background: transparent;
    border: 1px solid blue;
    color: blue;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }
  .icon-hamburger {
    display: none;
  }
  #about h1 {
    color: rgba(0, 0, 39, 0.904);
    font-size: 2.5rem;
  }
  .about-card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .about-card h2 {
    font-size: 1.2rem;
  }
  #blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #blogs h1 {
    font-size: 2.5rem;
  }
  #blogs p {
    font-size: 1.2rem;
  }
  .blog-cards {
    display: grid;
    column-gap: 5rem;
    row-gap: 1.2rem;
    margin-block: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
}
@media (min-width: 1130px) and (max-width: 1440px) {
  nav {
    padding: 1.8rem 1.5rem;
  }
  .desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  .nav-links a {
    color: blue;
    opacity: 0.7;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .nav-links a:hover {
    color: #00c6ff;
  }
  nav .btn {
    padding: 1.3rem 2rem;
    background: blue;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }
  nav .btn:hover {
    background: transparent;
    border: 1px solid blue;
    color: blue;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }
  .icon-hamburger {
    display: none;
  }
  .hero {
    height: 100vh;
    padding: 25rem 2rem;
  }
  .hero p {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .hero h1 {
    font-size: 4rem;
  }
  #about h1 {
    color: rgba(0, 0, 39, 0.904);
    font-size: 2.5rem;
  }
  .about-card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .cards h2 {
    font-size: 1.6rem;
  }
  .cards p {
    font-size: 1.2rem;
  }
  .hide {
    display: block;
  }
  .hidden {
    display: block;
  }
  #services {
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  #services img {
    width: 500px;
  }
  #services h1 {
    text-align: start;
    margin-left: 15px;
    font-size: 2.5rem;
  }
  .service-info {
    text-align: left;
  }
  .service-info h3 {
    font-size: 1.8rem;
  }
  .service-info p {
    font-size: 1.5rem;
  }
  #blogs h1 {
    font-size: 2.5rem;
  }
  #blogs p {
    font-size: 1.2rem;
  }
  .blog-cards {
    display: grid;
    column-gap: 5rem;
    row-gap: 1.2rem;
    margin-block: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  #blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer h2 {
    font-size: 1.8rem;
    margin-block: 1rem;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
  .question p {
    font-size: 1.4rem;
  }
  h5 {
    margin-left: 0.2rem;
    font-size: 1.2rem;
    opacity: 0.7;
  }
  aside span {
    font-size: 1.2rem;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
}
