* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  width: 100vw;
  position: fixed;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.icon-hamburger {
  width: 40px;
}
.hero {
  width: 100%;
  height: 60vh;
  background-image: url("Images/h1_hero1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 235, 235, 0.849);
  padding: 15rem 2rem;
  text-align: center;
}
.hero p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
#about {
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 3rem;
}
#about h1 {
  color: rgba(0, 0, 39, 0.904);
  font-size: 1.8rem;
}
.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2.2rem;
  margin-top: 1.5rem;
}
.cards {
  padding: 2rem 1rem;
  margin-block: 1.3rem;
  border-radius: 10px;
  border-top-right-radius: 50px;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.card-1 {
  background: rgb(173, 218, 255);
}
.card-2 {
  background: rgb(255, 199, 199);
}
.card-3 {
  background: rgb(184, 231, 184);
}
.cards h2 {
  font-size: 1.4rem;
  color: rgba(0, 0, 39, 0.904);
  margin-bottom: 1rem;
}
.cards p {
  font-size: 1rem;
  font-weight: 600;
  color: #818181;
  margin-top: 1rem;
}
.cards:hover {
  transform: translateY(-10px);
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
#services {
  display: flex;
  margin-block: 3rem;
}
.hidden {
  display: none;
}
#services h1 {
  color: rgba(0, 0, 39, 0.904);
  font-size: 1.8rem;
  text-align: center;
}
.service-info {
  margin-top: 1.3rem;
  padding-inline: 1.3rem;
}
.service-info h3 {
  font-size: 1.4rem;
  color: rgba(0, 0, 39, 0.904);
  margin-block: 1rem;
}
.service-info p {
  font-size: 1.2rem;
  line-height: 1.5;
  opacity: 0.6;
  margin-bottom: 1rem;
}
#blogs {
  padding-inline: 1rem;
  text-align: center;
  margin-block: 3rem;
}
#blogs h1 {
  margin-block: 1rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 39, 0.904);
}
#blogs p {
  font-size: 1.2rem;
  opacity: 0.7;
}
.blog-cards {
  display: grid;
  gap: 15px;
  margin-block: 1rem;
  align-items: center;
  justify-content: center;
}
.blogs {
  max-width: 305px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #fff;
  text-align: start;
  border: 3px solid #00c6ff;
  /* border-image: linear-gradient(135deg, #00c6ff, #0072ff) 1; */
}
.blogs img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
figure {
  max-width: 300px;
}
figcaption {
  padding: 1rem;
}
figcaption h3 {
  font-size: 1.2rem;
  color: rgba(0, 0, 39, 0.904);
}
figcaption p {
  font-size: 1.2rem;
  opacity: o.7;
  line-height: 1.5;
  margin-block: 1rem;
}
figure button {
  padding: 1.2rem 1.5rem;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  background: rgb(141, 204, 255);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
figure button:hover {
  background: #00c6ff;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
